{:paths [:clj-paths :resource-paths]
 :deps {org.clojure/math.combinatorics {:mvn/version "0.1.4"}
        org.clojure/math.numeric-tower {:mvn/version "0.0.4"}
        instaparse/instaparse          {:mvn/version "1.4.10"}
        wing/core                      {:mvn/version "0.1.4"}}

 :aliases
 {:clj-paths ["src"]
  :resource-paths ["resources"]
  :test {:extra-paths ["test"]}}}
